.grid {
    max-width: fit-content;
    border-color: black;
    border-style: dotted none none dotted;
}

.line {
    /* max-width: fit-content; */
}

.hidden {
    opacity: 0;
}

.point {
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border: black solid;
    display: inline-block;
    width: 4px;
    height: 4px;
}

.current {
    color: red;
    border: red solid;
}

.notes-form {
    position: absolute;
    padding: 2%;
    background-color: white;
    -webkit-box-shadow: 1px 5px 21px -6px rgba(0,0,0,0.71);
    -moz-box-shadow: 1px 5px 21px -6px rgba(0,0,0,0.71);
    box-shadow: 1px 5px 21px -6px rgba(0,0,0,0.71);
}

.form-input-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.form-input-group label {
    font-weight: bold;
    /* max-width: 50%; */
}

.form-input-group input {
    /* max-width: 50%; */
}

.removed {
    display: none;
}

.notes-top {
    display: none;
}