h1 {
    color: red;
}

.grid {
    max-width: fit-content;
    border-color: black;
    border-style: dotted none none dotted;
}

.line {
    max-width: fit-content;
}

.hidden {
    opacity: 0;
}

.point {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.current {
    color: red;
}

.notes-form {
    position: absolute;
    height: 50vh;
    width: 100%;
    bottom: 0;
    background-color: white;
}

.notes-top {
    display: none;
}